<h1>Sign In</h1>

<div>
    <%= message %>
</div>
<form method="post">
    <input type="text" name="email" id="email" />
    <br/>
    <input type="password" name="password" id="password" />
    <br>
    <br>
    <button type="submit">Sign In</button>
</form>